code/datafactory/pipeline/copydata_usingsql.json
{
	"name": "copydata_usingsql",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select uri from Audit_DB.ls_config",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "source_url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "VAR_source_url",
					"value": {
						"value": "@activity('Lookup1').output.FirstRow.uri",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"VAR_source_url": {
				"type": "String"
			}
		},
		"annotations": []
	}
}